@{
    // >> Process > View > Classic > Arrest ***
    @Arrest()
}
@using Papagames.Detective.Core.Game
@model Papagames.Detective.App.Web.Models.ProcessModel

@functions
{

    private int? Face
    {
        get { return ViewBag.Face; }
    }

    private bool ArrestIsEnabled()
    {
        return Model.UserActionIsEnabled(Process.UserAction.ActionType.Arrest);
    }

    private bool EarlyArrestIsEnabled()
    {
        return Model.UserActionIsEnabled(Process.UserAction.ActionType.EarlyArrest);
    }

}

@helper Arrest()
{
    <div class="det-today">
        <div class="det-today-day det-answers-color"></div>
        <div class="det-today-info det-arrest-color">
            @ArrestButton()
            @EarlyArrestButton()
            @Hints()
        </div>
    </div>
}

@helper ArrestButton()
{
    if (ArrestIsEnabled() && Face != null)
    {
        <div class="det-arrest-button">
            <a class="det-arrest-button-link" href="@ProcessView.ArrestActionUrl((int) Face)">Arrest @ProcessView.MemberName((int) Face)</a>
        </div>
    }
}

@helper EarlyArrestButton()
{
    if (EarlyArrestIsEnabled() && Face != null)
    {
        <div class="det-arrest-button">
            <a class="det-arrest-button-link-lite" href="@ProcessView.EarlyArrestActionUrl((int) Face)">Arrest @ProcessView.MemberName((int) Face)</a>
        </div>
    }
}


@helper Hints()
{
    if (ArrestIsEnabled() && Face == null)
     {
         <div class="det-arrest-hint">
             Who do you want to arrest?
         </div>
     }
}