@{
    // >> Process > View > Classic > Arrest ***
    @Arrest()
}
@using Papagames.Detective.Core.Game
@model Papagames.Detective.App.Web.Models.ProcessModel

@functions
{

    private int? Face
    {
        get { return ViewBag.Face; }
    }

    private bool ArrestIsEnabled()
    {
        return Model.UserActionIsEnabled(Process.UserAction.ActionType.Arrest);
    }
    private bool EarlyArrestIsEnabled()
    {
        return Model.UserActionIsEnabled(Process.UserAction.ActionType.EarlyArrest);
    }

}

@helper Arrest()
{
    <div class="det-today">
        <div class="det-today-day det-answers-color"></div>
        <div class="det-today-info">
            @ArrestButton()
            @EarlyArrestButton()
            @Hints()
        </div>
    </div>
}

@helper ArrestButton()
{
    <div class="det-arrest-button">
        @if (ArrestIsEnabled() && Face != null)
        {
            <a class="det-arrest-button-link" href="@ProcessView.ArrestActionUrl((int) Face)">Arrest @ProcessView.MemberName((int)Face)</a>
        }
    </div>
}

@helper EarlyArrestButton()
{
    <div class="det-arrest-button">
        @if (EarlyArrestIsEnabled() && Face != null)
        {
            <a class="det-arrest-button-link-lite" href="@ProcessView.EarlyArrestActionUrl((int) Face)">Arrest @ProcessView.MemberName((int)Face)</a>
        }
    </div>
}


@helper Hints()
{
    <div class="det-arrest-hint">
        @if (ArrestIsEnabled() && Face == null)
        {
            @:Who do you want to arrest?
        }
    </div>
}