@{
    @Cards((int) ViewData["First"], (int) ViewData["Last"])
}

@functions
{

    private string CurrentCardClass(int num)
    {
        return ProcessView.MemberIsPrimary(num) ? " det-card-primary" : ProcessView.MemberIsActive(num) ? " det-card-secondary" : "";
    }

    private string ActiveCardClass(int num)
    {
        return ProcessView.MemberIsActive(num) ? " det-card-active" : " det-card-inactive";
    }

    private string ActionPlaceholder(int num)
    {
        return ProcessView.MemberIsPrimary(num) ? "ask" : ProcessView.MemberIsActive(num) ? "about" : "";
    }

}

@helper Cards(int first, int last)
{
    <nav class="det-gametable-color">
        <ul>
            @for (var i = first; i <= last; i++)
            {
                <li class="det-card">
                    @Card(i)
                </li>
            }
        </ul>
    </nav>
}

@helper Card(int n)
{
    <div class="det-card-aligment" align="center">
        <div class="@("det-card-content" + CurrentCardClass(n) + ActiveCardClass(n))" align="center">
            @if (ProcessView.MemberExists(n))
            {
                <div class="det-card-content-action-placeholder">
                    @ActionPlaceholder(n)
                </div>
                <div class="det-card-content-name">
                    @ProcessView.MemberName(n)
                </div>
            }
        </div>
    </div>
}