@using Papagames.Detective.Core.Game
@{
    // >> Process > View > Classic > Members
    @Members((int) ViewData["First"], (int) ViewData["Last"], (bool) ViewData["SideIsTop"])
}

@functions
{

    private string CurrentMemberFaceClass(int num)
    {
        return
            ProcessView.MemberIsActive(num)
                ? ProcessView.MemberIsPrimary(num)
                    ? " det-member-face-active-primary"
                    : " det-member-face-active-secondary"
                : ProcessView.Member(num).IsOpenMurderer
                    ? " det-member-face-inactive-murderer"
                    : ProcessView.Member(num).IsOpenInnocent
                        ? " det-member-face-inactive-innocent"
                        : "";
    }

    private string MemberFaceEmotionClass(int num)
    {
        return ProcessView.MemberIsAlive(num) ? " det-member-face-text-alive det-vertical" : " det-member-face-text-dead";
    }

    private string EmotionMarker(int num)
    {
        switch (ProcessView.MemberEmotion(num))
        {
            case Emotion.Happy:
                return ":)";
            case Emotion.Sad:
                return ":(";
            case Emotion.Indifferent:
                return ":|";
            default:
                return "ERROR";
        }
    }

    private MvcHtmlString MemberFace(int num)
    {
        return new MvcHtmlString(
            ProcessView.MemberIsAlive(num) ?
                EmotionMarker(num) :
                "x x<br>__"
            );
    }

}

@helper Members(int first, int last, bool sideIsTop)
{
    <nav>
        <ul>
            @for (var i = first; i <= last; i++)
            {
                <li class="det-member">
                    @Member(i, sideIsTop)
                </li>
            }
        </ul>
    </nav>
}

@helper Member(int i, bool sideIsTop)
{
    <div class="det-member-cell-aligment" align="center">
        <div class="det-member-cell-content" align="center">
            @if (ProcessView.MemberExists(i))
            {
                if (sideIsTop && ProcessView.MemberIsActive(i) || !sideIsTop && !ProcessView.MemberIsActive(i))
                {
                    @FaceIndent()
                    @Face(i)
                }
                else
                {
                    @Face(i)
                    @FaceIndent()
                }
            }
        </div>
    </div>
}

@helper Face(int m)
{
    <div class="@("det-member-cell-content-face" + CurrentMemberFaceClass(m))">
        <a class="@("det-no-text-decoration" + MemberFaceEmotionClass(m))"
           href="@Url.Action("ClassicPlay", "Process", new {id = Model.Id, primaryMember = m})">
            @MemberFace(m)
        </a>
    </div>
}

@helper FaceIndent()
{
    <div class="det-member-cell-content-indent">
    </div>
}