@{
    // >> Process > View > Classic > Questioning *
    @Questioning()
}
@using Papagames.Detective.Core.Game
@model Papagames.Detective.App.Web.Models.ProcessModel

@functions
{
    private string AnswerSelectedFaceClass(int num)
    {
        return num == ViewBag.Face ? " det-answer-highlight" : "";
    }
}

@helper Questioning()
{
    <div class="det-today">
        <div class="det-today-day det-answers-color det-questioning"></div>
        <div class="det-today-info">
            <div class="det-questioning det-answers-color">
                @Answers()
            </div>
        </div>
    </div>
}

@helper Answers()
{
    <div class="det-today-info-answers det-answers-color">
        @foreach (var a in Model.TodayAnswers())
        {
            var answerSelectedFaceClass = AnswerSelectedFaceClass(a.Agent.Number);
            <div class="det-today-info-answer">
                <div class="det-today-info-answer-agent @answerSelectedFaceClass">
                    @a.Agent:
                </div>
                <div class="det-today-info-answer-value @answerSelectedFaceClass">
                    @a.Subject is @a.Value.Verbal()
                </div>
            </div>
        }
    </div>
}