@{
    // >> Process > View > Classic > Questioning *
    @Questioning()
}
@using Papagames.Detective.App.Web.Models
@using Papagames.Detective.Core.Game
@model ProcessModel

@functions
{

    private int? Face
    {
        get { return ViewBag.Face; }
    }

    private string AnswerSelectedFaceClass(int num)
    {
        return num == Face ? " det-answer-highlight" : "";
    }

    public static string QuestioningClass
    {
        get { return "det-questioning"; }
    }

}

@helper Questioning()
{
    @GameLog.Record(Answers(), QuestioningClass)
    if (Model.State == State.Questioning)
    {
        @GameLog.Record(Hint(), QuestioningClass)
    }
}

@helper Answers()
{
    if (Model.TodayAnswers().Count == 0)
    {
        @:No answers yet
    }
    else
    {
        foreach (var answer in Model.TodayAnswers())
        {
            @Answer(answer, AnswerSelectedFaceClass(answer.Agent.Number))
        }
    }
}

@helper Answer(AnswerModel answer, string selectedClass)
{
    <div class="@selectedClass">
        @GameLog.MemberLink(answer.Agent)
        &mdash;
        @GameLog.SubjectLink(answer.Subject)
        is
        @answer.Value.Verbal()
    </div>
}

@helper Hint()
{
    @( !ProcessView.CanAsk(Face)
           ? HintRespondents()
           : HintSubjects((int) Face))
}

@helper HintRespondents()
{
    @GameLog.HintMemberVariants(
        "Question:",
        ProcessView.QuestioningRespondents(),
        GameLog.MemberLink,
        additionalVariantsFunc: AutoQuestioning
        )
}

@helper HintSubjects(int respondent)
{
    @GameLog.HintSubjectVariants(
        string.Format("Question {0} about:", @ProcessView.MemberName(respondent)),
        respondent,
        ProcessView.QuestioningSubjects(respondent),
        AskActionLink
        )
}

@helper AskActionLink(MemberModel respondent, MemberModel subject, string suffix = " ")
{
    @Shared.Link(
        subject.Name,
        GameLog.MemberLinkClass,
        ProcessView.AskActionUrl(respondent.Number, subject.Number)
        )@suffix
}

@helper AutoQuestioning()
{
    if (Model.Options.AutoQuestioningIsEnabled
        && ProcessView.QuestioningRespondents().Count >= 2
        && (Face == null || ProcessView.QuestioningSubjects((int) Face).Count == 0))
    {
           @(" or ") @Shared.Link("auto", GameLog.MemberLinkClass, ProcessView.AutoAskActionUrl())
    }
}