@using System.Web.Mvc
@using Papagames.Detective.App.Web.Models
@functions{
    // >> App_Code > GameLog ***

    private new static ProcessModel Model
    {
        get { return (ProcessModel) ((WebViewPage) WebPageContext.Current.Page).Model; }
    }
}

@helper Format(string text, params object[] args)
{ @Text(string.Format(text, args)) }

@helper Text(string text)
{ @text }

@helper Record(HelperResult day, HelperResult info, string infoClass="")
{
    <div class="det-gamelog-record">
        <div class="det-gamelog-record-day">
            @day
        </div>
        <div class="det-gamelog-record-info @infoClass">
            @info
        </div>
    </div>
}

@helper Record(HelperResult info, string infoClass="")
{ @Record(Text(""), info, infoClass) }


@helper TodayRecord(HelperResult info, string infoClass = "")
{ @Record(Format("Day {0}:", Model.Today), info, infoClass) }

@helper RecordInfoSection(HelperResult infoSection, string infoSectionClass = "")
{
    <div class="det-gamelog-record-info-section @infoSectionClass">
        @infoSection
    </div>
}

@helper MemberLnk(MemberModel member, string linkClass, string suffix)
{
    @Shared.Link(
          member.Name,
          linkClass,
          ProcessView.MemberFaceUrl(member.Number)
          )
    @suffix
}