@using Papagames.Detective.App.Web.Models
@using Papagames.Detective.Utils
@model ProcessModel
@{
    ViewBag.Title = "Detective Process";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>@Model.ShortInfo</h2>

<ul>
    <li>@Html.ActionLink(Model.Case.ShortInfo, "Info", "Case", new {id = Model.CaseId}, new {name = "case"})</li>
    <li>
        @Model.ActiveMembers.Count active members:
        <ul>
            @foreach (var m in Model.ActiveMembers)
            {
                <li>@m.Id: @m.Name</li>
            }
        </ul>
    </li>
    <li>
        @Model.Prisoners.Count.Plural("prisoner")
        <ul>
            @foreach (var m in Model.Prisoners)
            {
                <li>@m.Id: @m.Name</li>
            }
        </ul>
    </li>
    <li>
        @Model.Victims.Count.Plural("victim")
        <ul>
            @foreach (var m in Model.Victims)
            {
                <li>@m.Id: @m.Name</li>
            }
        </ul>
    </li>
    <li>State @Model.State</li>
    <li>Actions @Model.UserActions</li>
</ul>