@model Papagames.Detective.App.Web.Models.ProcessModel
@{
    ViewBag.Title = "Play Detective Process";
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewData["id"] = Model.Id;
}

<h2>@Model.ShortInfo</h2>

<ul>
    <li>
        Process Info:
        <ul>
            <li>
                @Html.ActionLink(Model.Case.ShortInfo, "Info", "Case", new { id = Model.CaseId }, new { name = "case" })
            </li>
            <li>
                Day: @Model.CurrentDay
            </li> 
            <li>
                State: @Model.State
            </li>
            <li>
                Start: Model.StartTime
            </li>
            <li>
                Winner: @Model.Winner
            </li>
            <li>
                Murderer Number: Model.MurdererNumber?? "Unknown"
            </li>
        </ul>
    </li>


    <li >
        Members:
        <ul >
            <li>
                Active:
                @{ Html.RenderPartial("~/Views/Process/Common/MemberList.cshtml", Model.ActiveMembers, ViewData); }
            </li>
            <li>
                Pisoners:
                @{ Html.RenderPartial("~/Views/Process/Common/MemberList.cshtml", Model.Prisoners, ViewData); }
            </li>
            <li>
                Victims:
                @{ Html.RenderPartial("~/Views/Process/Common/MemberList.cshtml", Model.Victims, ViewData); }
            </li>
        </ul>
    </li>


    <li>
        Answers:
        @{ Html.RenderPartial("~/Views/Process/Common/AnswerList.cshtml", Model.History, ViewData); }
    </li>
    <li>
        Actions:
        @{ Html.RenderPartial("~/Views/Process/Common/UserActionList.cshtml", Model.UserActions, ViewData); }
    </li>
</ul>