@using Papagames.Detective.App.Web.Models
@using Papagames.Detective.Utils
@model ProcessModel
@{
    ViewBag.Title = "Play Detective Process";
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewData["id"] = Model.Id;
}

<h2>@Model.ShortInfo</h2>

<ul>
    <li>@Html.ActionLink(Model.Case.ShortInfo, "Info", "Case", new {id = Model.CaseId}, new {name = "case"})</li>
    <li>@Model.ActiveMembers.Count.Plural("active member")
        @{ Html.RenderPartial("~/Views/Process/Common/MemberList.cshtml", Model.ActiveMembers, ViewData); }
    </li>
    <li>@Model.Prisoners.Count.Plural("prisoner")
        @{ Html.RenderPartial("~/Views/Process/Common/MemberList.cshtml", Model.Prisoners, ViewData); }
    </li>
    <li>@Model.Victims.Count.Plural("victim")
        @{ Html.RenderPartial("~/Views/Process/Common/MemberList.cshtml", Model.Victims, ViewData); }
    </li>
    <li>Day: @Model.CurrentDay</li>
    <li>State: @Model.State</li>
    <li>Answers: 
        @{ Html.RenderPartial("~/Views/Process/Common/AnswerList.cshtml", Model.History, ViewData); }
    </li>
    <li>Actions:
        @{ Html.RenderPartial("~/Views/Process/Common/UserActionList.cshtml", Model.UserActions, ViewData); }
    </li>
</ul>