@{
    // Case / Index
    ViewBag.Title = "Detective game";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@using Papagames.Detective.Core.Game
@using Papagames.Detective.Utils
@model Papagames.Detective.App.Web.Models.CaseModel

<h2>Case #@Model.Id</h2>

<ul>
    <li>@Model.WorldName world</li>
    <li>
        @Model.MemberNum participants:
        <ul>
            @foreach (var m in Model.Members)
            {
                <li>@m.Id: @m.Name</li>
            }
        </ul>
    </li>
    <li>
        @Model.MurdererNum.Plural("murder")
        <ul>
            @foreach (var m in Model.Murders)
            {
                <li>@m.Id: @m.Name</li>
            }
        </ul>
    </li>
    <li>Victim: @Model.Victims</li>
    <li>run me!</li>
</ul>