@using Papagames.Detective.App.Web.Models
@using Papagames.Detective.Utils
@model CaseModel
@{
    ViewBag.Title = "Detective Case";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<h2>Case #@Model.Id</h2>

<ul>
    <li>@Model.WorldName world</li>
    <li>
        @Model.MemberNum participants:
        <ul>
            @foreach (var m in Model.Members)
            {
                <li>@m.Id: @m.Name</li>
            }
        </ul>
    </li>
    <li>
        @Model.MurdererNum.Plural("murder")
        <ul>
            @foreach (var m in Model.Murders)
            {
                <li>@m.Id: @m.Name</li>
            }
        </ul>
    </li>
    <li>
        @Model.VictimNum.Plural("victim")
        <ul>
            @foreach (var m in Model.Victims)
            {
                <li>@m.Id: @m.Name</li>
            }
        </ul>
    </li>
    <li>run me!</li>
</ul>