@using Papagames.Detective.App.Web.Models
@using Papagames.Detective.Utils
@model CaseModel
@{
    ViewBag.Title = "Detective Case";
    Layout = "~/Views/Shared/Layouts/Default.cshtml";
}

<h2>@Model.ShortInfo</h2>

<ul>
    <li>@Model.WorldName world (@Html.ActionLink("Relations", "Relations", new {id = Model.Id}))</li>
    <li>
        Active members:
        <ul>
            @foreach (var m in Model.ActiveMembers)
            {
                <li>@m.Name</li>
            }
        </ul>
    </li>
    <li>
        Victims:
        <ul>
            @foreach (var m in Model.Victims)
            {
                <li>@m.Name</li>
            }
        </ul>
    </li>
    <li>
        Murderers: @("Unknown".IfNull(Model.MurderersOpenNum))
    </li>
    <li>@Html.ActionLink("Proceed to this case", "Run", new {id = Model.Id})</li>
</ul>