@using Papagames.Detective.App.Web.Models
@using Papagames.Detective.Utils
@model CaseModel
@{
    ViewBag.Title = "Detective Case";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>@Model.ShortInfo</h2>

<ul>
    <li>@Model.WorldName world</li>
    <li>
        @Model.ActiveMemberNum active members:
        <ul>
            @foreach (var m in Model.ActiveMembers)
            {
                <li>@m.Id: @m.Name</li>
            }
        </ul>
    </li>
    <li>
        @Model.MurdererNum.Plural("murder")
        <ul>
            @foreach (var m in Model.Murders)
            {
                <li>@m.Id: @m.Name</li>
            }
        </ul>
    </li>
    <li>
        @Model.VictimNum.Plural("victim")
        <ul>
            @foreach (var m in Model.Victims)
            {
                <li>@m.Id: @m.Name</li>
            }
        </ul>
    </li>
    <li>@Html.ActionLink("Run this case", "Run", new {id = Model.Id})</li>
</ul>