@using Papagames.Detective.App.Web.Models
@using Papagames.Detective.Utils
@model CaseModel
@{
    ViewBag.Title = "Detective Case";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>@Model.ShortInfo</h2>

<ul>
    <li>@Model.WorldName world</li>
    <li>
        @Model.ActiveMembers.Count active members:
        <ul>
            @foreach (var m in Model.ActiveMembers)
            {
                <li>@m.Number: @m.Name</li>
            }
        </ul>
    </li>
    <li>
        @Model.Murderers.Count.Plural("murder")
        <ul>
            @foreach (var m in Model.Murderers)
            {
                <li>@m.Number: @m.Name</li>
            }
        </ul>
    </li>
    <li>
        @Model.Victims.Count.Plural("victim")
        <ul>
            @foreach (var m in Model.Victims)
            {
                <li>@m.Number: @m.Name</li>
            }
        </ul>
    </li>
    <li>@Html.ActionLink("Run this case", "Run", new {id = Model.Id})</li>
</ul>