@{
    // Now: | View | Home | Index
    ViewBag.Title = string.Format("{0}",
        Localization.Text("Title:Crime Nuts")
        );
    Layout = "~/Views/Shared/Layouts/Classic.cshtml";
}

@helper MainMenuItem(string text, string controller, string action = "Index")
{
    <div class="cn-home-menu-item">
        @Shared.ActionLink(text, controller, action, "cn-info-link")
    </div>
}


@helper LocalizedMainMenuItem(string textId, string controller, string action = "Index")
{
    @MainMenuItem(
        Localization.Text(textId),
        controller,
        action
        )
}


<div class="cn-info">

    <div class="cn-info-header">
        Main menu
    </div>

    @LocalizedMainMenuItem("Menu:Cases", "Case")
    @LocalizedMainMenuItem("Menu:Processes", "Process")

    @MainMenuItem("Continue", "Home")
    @MainMenuItem("Settings", "Site")

    @*
    @MainMenuItem("Players", "Home")
    @MainMenuItem("Achievements", "Home")
    @MainMenuItem("Profile", "Home")
    @MainMenuItem("Help", "Home")
    *@

</div>