@*
    // ============================================================================================= []
    // >> Process > View > Classic > Play **
*@
@using Papagames.Detective.Utils
@model Papagames.Detective.App.Web.Models.ProcessModel

@functions {

    private void RendelPartitial(string part, object args)
    {
        Html.RenderPartial("~/Views/Process/Classic/Play/" + part + ".cshtml", Model, Html.NewViewData(args));
    }

}
@{
    ViewBag.Title = "Crime Nuts Case #" + Model.CaseId;
    Layout = "~/Views/Shared/Layouts/Classic.cshtml";
    ViewData["id"] = Model.Id;
}


@helper Content()
{
    <div class="det-page-content">
        <div class="det">
            <div class="det">
                @Room()
            </div>
            <div class="det-dev det-height-400">
                Files
            </div>
        </div>
    </div>
}

@helper Room()
{
    <div class="det">
        @{ RendelPartitial("Members", new {First = 1, Last = 6, SideIsTop = true}); }
    </div>
    <div class="det-desktop det-desktop-color">
        @Desktop()
    </div>
    <div class="det">
        @{ RendelPartitial("Members", new {First = 7, Last = 12, SideIsTop = false}); }
    </div>
}

@helper Desktop()
{
    <div class="det">
        @{ RendelPartitial("Cards", new { First = 1, Last = 6 }); }
    </div>
    <div class="det-dev det-height-300">
        Play desk
        @*@Infozone()*@
    </div>
    <div class="det">
        @{ RendelPartitial("Cards", new { First = 7, Last = 12 }); }
    </div>
}

@helper History()
{
    @DaySummary("Day 1", "Summary")
    @DaySummary("Day 2", "Summary")
}
@helper DaySummary(string day, string summary)
{
    <div class="det-dev">
        <div class="det-dev det-raw">
            <div class="det-dev det-cell det-width-100">
                @day
            </div>
            <div class="det-dev det-cell det-width-auto">
                @summary
            </div>
        </div>
    </div>
}

@helper Today()
{
    <div class="det-dev det-raw">
        <div class="det-dev det-cell det-width-100">
            Day 3
        </div>
        <div class="det-dev det-cell det-width-auto">
            Today Information
            <div class="det-dev">
                Murders
            </div>
            <div class="det-dev">
                Evidences
            </div>
            <div class="det-dev">
                Answers
            </div>
            <div class="det-dev">
                Arrest
            </div>
        </div>
    </div>
}

@helper Infozone()
{
    <div class="det-dev">
        History
        @History()
    </div>
    <div class="det-dev">
        Today
        @Today()
    </div>
    <div class="det-dev">
        Result
    </div>
    <div class="det-dev">
        Actions
        <div class="det-dev">
            Questioning
        </div>
        <div class="det-dev">
            Arrest
        </div>
        <div class="det-dev">
            Next Day
        </div>
        <div class="det-dev">
            Reveal Details
        </div>
    </div>
}

<div align="center" class="det-body">
    <div align="left" class="det-page">
        @Shared.Header("Case #{0}, Find all murderers", Model.CaseId)
        @Content()
        @Shared.Footer()
    </div>
</div>