@model Papagames.Detective.App.Web.Models.ProcessModel
@{
    // >> View: Process/Classic/Play
    ViewBag.Title = "Crime Nuts Case #" + Model.CaseId;
    Layout = "~/Views/Shared/Layouts/Classic.cshtml";
    ViewData["id"] = Model.Id;
}

@helper Header()
{
    <div class="det-page-header">
        <div class="det-green-pad">
            <div class="det-green-pad-inner">
                <div class="det-green-pad-inner-text">
                    Crime Nuts Case #17, Find all murderers
                </div>
                <div class="det-green-pad-inner-text text-align-right">
                    Home | Cases | Help
                </div>
            </div>
        </div>
        <div class="det-red-line"></div>
    </div>
}
@helper Footer()
{
    <div class="det-page-footer">
        <div class="det-red-line"></div>
        <div class="det-green-pad">
            <div class="det-green-pad-inner">
                <div class="det-green-pad-inner-text">
                    Crime Nuts (c) RKDev 2015
                </div>
                <div class="det-green-pad-inner-text text-align-right">
                    Loc | Pub | Jira | Azura | Github
                </div>
            </div>
        </div>
    </div>
}
@helper Content()
{
    <div class="det-page-content">
        <div class="det-dev width-auto">
            Content
            <div class="det-dev">
                Room
                <div class="det-dev">
                    Members top
                    @Members()
                </div>
                <div class="det-dev height-300">
                    Table
                </div>
                <div class="det-dev">
                    Members bottom
                    @Members()
                </div>
            </div>
            <div class="det-dev height-400">
                Files
            </div>
        </div>
    </div>
}
@helper Members()
{
    <nav>
        <ul>
            <li class="det-dev height-100"> 1 </li>
            <li class="det-dev height-100"> 2 </li>
            <li class="det-dev height-100"> 3 </li>
            <li class="det-dev height-100"> 4 </li>
            <li class="det-dev height-100"> 5 </li>
            <li class="det-dev height-100"> 6 </li>
        </ul>
    </nav>
}


<div align="center" class="det-body">
    <div align="left" class="det-page">
        @Header()
        @Content()
        @Footer()
    </div>
</div>