@model Papagames.Detective.App.Web.Models.ProcessModel

@functions {

    private string MemberName(int i)
    {
        var name = Model.Members.Where(m => m.Number == i).Select(m => m.Name).FirstOrDefault();
        return name ?? " ";
    }

    private bool MemberExists(int i)
    {
        return Model.Members.Any(m => m.Number == i);
    }

    private bool MemberIsActive(int i)
    {
        return Model.ActiveMembers.Any(m => m.Number == i);
    }

}
@{
    // >> View: Process/Classic/Play
    ViewBag.Title = "Crime Nuts Case #" + Model.CaseId;
    Layout = "~/Views/Shared/Layouts/Classic.cshtml";
    ViewData["id"] = Model.Id;
}

@helper Header()
{
    <div class="det-page-header">
        <div class="det-green-pad">
            <div class="det-green-pad-inner">
                <div class="det-green-pad-inner-text">
                    Crime Nuts Case #17, Find all murderers
                </div>
                <div class="det-green-pad-inner-text text-align-right">
                    Home | Cases | Help
                </div>
            </div>
        </div>
        <div class="det-red-line"></div>
    </div>
}
@helper Footer()
{
    <div class="det-page-footer">
        <div class="det-red-line"></div>
        <div class="det-green-pad">
            <div class="det-green-pad-inner">
                <div class="det-green-pad-inner-text">
                    Crime Nuts (c) RKDev 2015
                </div>
                <div class="det-green-pad-inner-text text-align-right">
                    Loc | Pub | Jira | Azura | Github
                </div>
            </div>
        </div>
    </div>
}

@helper Content()
{
    <div class="det-page-content">
        <div class="det">
            <div class="det">
                @Room()
            </div>
            <div class="det-dev height-400">
                Files
            </div>
        </div>
    </div>
}

@helper Room()
{
    <div id="members-top" class="det">
        @Members(1, 6, true)
    </div>
    <div class="det-dev height-300">
        Table
        @*@TableDesktop()*@
    </div>
    <div id="members-bottom" class="det">
        @Members(7, 12, false)
    </div>
}

@helper Members(int first, int last, bool sideIsTop)
{
    <nav>
        <ul>
            @for (var i = first; i <= last; i++)
            {
                @Member(i, sideIsTop)
            }
        </ul>
    </nav>
}

@helper Cards()
{
    <nav>
        <ul>
            <li class="det-dev"> 1 </li>
            <li class="det-dev"> 2 </li>
            <li class="det-dev"> 3 </li>
            <li class="det-dev"> 4 </li>
            <li class="det-dev"> 5 </li>
            <li class="det-dev"> 6 </li>
        </ul>
    </nav>
}

@helper TableDesktop()
{
    <div class="det-dev">
        Cards top
        @Cards()
    </div>
    <div class="det-dev">
        Play desk
        @PlayDesk()
    </div>
    <div class="det-dev">
        Cards bottom
        @Cards()
    </div>
}

@helper History()
{
    @DaySummary("Day 1", "Summary")
    @DaySummary("Day 2", "Summary")
}
@helper DaySummary(string day, string summary)
{
    <div class="det-dev">
        <div class="det-dev raw">
            <div class="det-dev cell width-100">
                @day
            </div>
            <div class="det-dev cell width-auto">
                @summary
            </div>
        </div>
    </div>
}

@helper Today()
{
    <div class="det-dev raw">
        <div class="det-dev cell width-100">
            Day 3
        </div>
        <div class="det-dev cell width-auto">
            Today Information
            <div class="det-dev">
                Murders
            </div>
            <div class="det-dev">
                Evidences
            </div>
            <div class="det-dev">
                Answers
            </div>
            <div class="det-dev">
                Arrest
            </div>
        </div>
    </div>
}
@helper PlayDesk()
{
    <div class="det-dev">
        History
        @History()
    </div>
    <div class="det-dev">
        Today
        @Today()
    </div>
    <div class="det-dev">
        Result
    </div>
    <div class="det-dev">
        Actions
        <div class="det-dev">
            Questioning
        </div>
        <div class="det-dev">
            Arrest
        </div>
        <div class="det-dev">
            Next Day
        </div>
        <div class="det-dev">
            Reveal Details
        </div>
    </div>
}

@helper Member(int i, bool sideIsTop)
{
    <li id="member">
        <div id="member-cell-aligment" align="center">
            <div id="member-cell-content" align="center">
                @if (MemberExists(i))
                {
                    if (sideIsTop && MemberIsActive(i) || !sideIsTop && !MemberIsActive(i))
                    {
                        @FaceIndent(i)
                        @Face(i)
                    }
                    else
                    {
                        @Face(i)
                        @FaceIndent(i)
                    }
                }
            </div>
        </div>
    </li>
}
@helper Face(int i)
{
    <div id="member-cell-content-face" align="center">
        <div id="member-cell-content-face-text" class="vertical" align="center">
            @(MemberIsActive(i) ? ":)" : "x")
        </div>
    </div>
}
@helper FaceIndent(int i)
{
    <div id="member-cell-content-indent">
    </div>
}

<div align="center" class="det-body">
    <div align="left" class="det-page">
        @Header()
        @Content()
        @Footer()
    </div>
</div>