@using System.Web.Mvc
@using System.Web.Mvc.Html
@functions{
    // >> App_Code | LayoutView
    private new static HtmlHelper<object> Html
    {
        get { return ((WebViewPage) WebPageContext.Current.Page).Html; }
    }

}

@helper Header(string title)
{
    <div class="cn-green-pad cn-border-bottom-red-4">
        <nav>
            <ul>
                <li>
                    @title
                </li>
                <li class="cn-text-align-right">
                    @MenuActionLink(Localization.Text("Menu:Home"), "Home")
                    | @MenuActionLink(Localization.Text("Menu:Cases"), "Case")
                    | @MenuActionLink(Localization.Text("Menu:Processes"), "Process")
                    | @MenuActionLink(Localization.CurrentLanguage.ToString(), "Site")
                </li>
            </ul>
        </nav>
    </div>
}

@helper Footer()
{
    <div class="cn-green-pad cn-border-top-red-4">
        <nav>
            <ul>
                <li>
                    Crime Nuts (c) @MenuLink("RKDev", "http://romankoshelev.info") 2015
                </li>
                <li class="cn-text-align-right">
                    @MenuLink("Loc", "http://localhost/crimenuts/")
                    | @MenuLink("Web", "http://www.crimenuts.com")
                    | @MenuLink("Azure", "https://manage.windowsazure.com/@romakoshgmail.onmicrosoft.com#Workspaces/WebsiteExtension/Website/pgs-detective/deployments")
                    | @MenuLink("Jira", "https://rk-dev.atlassian.net/secure/RapidBoard.jspa?rapidView=1&view=detail")
                    | @MenuLink("Github", "https://github.com/RomanKoshelev/detective")
                    | @MenuLink("Docs", "https://docs.google.com/document/d/1lIjCzt6j9BzGUCRqlUc_kvBMFaaieHP4n5MG_BvKoDs/")

                </li>
            </ul>
        </nav>
    </div>
}
@helper MenuActionLink(string text, string controller, string action = "Index")
{
    @Shared.ActionLink(
        text,
        controller,
        action,
        "cn-menu")
}

@helper MenuLink(string text, string href)
{
    <a class="cn-menu" href="@href">@text</a>
}