@*// ================================================================================== []*@
@using System
@using System.Linq
@using Crimenuts.App.Web.Models
@using Crimenuts.Utils
@model Crimenuts.App.Web.Models.CaseModel 
@{
    ViewBag.Title = "Members Relations";
    Layout = "~/Views/Shared/Layouts/Default.cshtml";
}
@*// ================================================================================== []*@
@functions
{

    private string RelationsList( Func< MemberModel, bool > predicate )
    {
        return Model.Members.Where( predicate ).FoldToStringBy( s => s.Name, ", ", "-" );
    }

}
@helper Relations( string title, Func< MemberModel, bool > predicate )
{
    <li>
        @title:
        @RelationsList( predicate )
    </li>
}
@*// ================================================================================== []*@




@*// ================================================================================== []*@
<h2>@Model.ShortInfo</h2>
<ul>
    @{
        foreach( var member in Model.Members ) {
            <li>
                @member.Name
                <ul>
                    @Relations( "Loves", s => member.Loves( s ) )
                    @Relations( "Hates", s => member.Hates( s ) )
                </ul>
            </li>
        }
    }
</ul>
@*// ================================================================================== []*@