<!DOCTYPE html>
<html>

@{
    // Now: | View | Shared | Layout | Classic
}

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link href='http://fonts.googleapis.com/css?family=Cousine|Roboto+Slab:400,700|Roboto&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/Themes/Classic/css")
    
</head>


<body>

    <div class="PageWrapper" align="center">
        <div class="Frame cn-page">
            <div class="Row">
                <div class="cn-page-part">
                    <div align="left" class="cn-page-content">
                        @LayoutView.Header(ViewBag.Title)
                    </div>
                </div>
            </div>

            <div class="Row Expand" align="center">
                <div class="cn-page-part">
                    <div align="left" class="cn-page-content">
                        @RenderBody()
                    </div>
                </div>
            </div>

            <div class="Row" align="center">
                <div class="cn-page-part">
                    <div align="left" class="cn-page-content">
                        @LayoutView.Footer()
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>